[user]
	email = {{ keepassxcAttribute "/Main/GitHub" "Username" }}
	name = Arjun Patel
	signingkey = {{ keepassxcAttribute "/Local/GPG Key" "Public key signature" }}
[commit]
	gpgsign = true

[init]
	defaultBranch = master

[color]
	ui = auto

[alias]
	# Fancy looking commit log
	lg = log --all --graph --decorate --oneline
	last = log --all --graph --decorate --oneline -10

[ghq]
{{ if .workspace }}
	root = ~/Projects
{{ else }}
	root = ~/Documents/Projects
{{ end }}
