[user]
	email = {{ .git.email }}
	name = {{ .git.name }}
	signingkey = {{ .git.signing_key }}
[commit]
	gpgsign = true

[init]
	defaultBranch = master

[color]
	ui = auto

[alias]
	# Fancy looking commit log
	lg = log --all --graph --decorate --oneline
	last = log --all --graph --decorate --oneline -10

[ghq]
	root = {{ .chezmoi.homeDir }}/Documents
