#----------------------------------------------#
# This container is not automatically enabled! #
#----------------------------------------------#
#
# Documentation:
#   https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html
#
# Start using this container:
#
#   systemctl --user daemon-reload
#   systemctl --user start redlib.service
#
# Check that everything has been set up correctly
#
#   systemctl --user status redlib.service
#   podman ps
#

[Unit]
Description=Private front-end for Reddit
After=local-fs.target

[Container]
Image=quay.io/redlib/redlib:latest
PublishPort=8080
Pull=newer

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
