# Generated: https://mullvad.net/en/account/wireguard-config
# Device: {{ .mullvad.interface.device }}

[Interface]
PrivateKey = {{ .mullvad.interface.private_key }}
Address = {{ .mullvad.interface.address }}
DNS = 100.64.0.7
PostUp = iptables -I OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL ! -d 192.168.1.0/24 -j REJECT && ip6tables -I OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT
PreDown = iptables -D OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL ! -d 192.168.1.0/24 -j REJECT && ip6tables -D OUTPUT ! -o %i -m mark ! --mark $(wg show %i fwmark) -m addrtype ! --dst-type LOCAL -j REJECT

[Peer]
PublicKey = {{ .mullvad.peer.public_key }}
AllowedIPs = 0.0.0.0/0,::0/0
Endpoint = {{ .mullvad.peer.endpoint }}
